@charset "UTF-8";
/* 공통 */
html, body {
	margin: 0;
	font-size: 0pt;
	height: 100%;
	font-family: 고딕;
	min-width: 1400px;
}

.top_area, .left_area, .cmn_btn, .page_btn, .page_btn_on {
	/* 마우스 드래그 금지 */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}

.cmn_btn, .cmn_btn_ml, .cmn_btn_mr, .cmn_btn_mb {
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background-color: #F2B705;
	border-radius: 2px;
	color: #222222;
	cursor: pointer;
}

.cmn_btn_ml {
	margin-left: 10px;
}

.cmn_btn_mr {
	margin-right: 10px;
}

.cmn_btn_mb {
	margin-left: 10px;
	margin-right: 10px;
}

.cmn_btn:active, .cmn_btn_ml:active, .cmn_btn_mr:active, .cmn_btn_mb:active {
	background-color: #F2CB05;
}

/* Top 구역 */
.top_area {
	height: 100px;
	box-shadow: 0px 1px 4px 0px #b7b7b7;
	background-color: #FFFFFF;
	position: relative;
	min-width: 1400px;
	z-index: 10;
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 100%;
	background-image: url('../images/cmn/logo_black.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160px;
	cursor: pointer;
	position: relative;
}

.logo_erp_text {
	display: inline-block;
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	top: 20px;
	right: 40px;
}

.menu_depth1_wrap {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 300px);
	min-width: 1100px;
	height: 100px;
}

.top_menu, .top_menu_on {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 100px;
	line-height: 100px;
	position: relative;
	cursor: pointer;
}

.top_menu_text {
	line-height: 100px;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}

.top_menu_on .top_menu_bar, .top_menu:hover .top_menu_bar  {
	display: inline-block;
	width: 130px;
	height: 8px;
	background-color: #f4d541;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 65px);
}

/* Left 구역 */
.left_area {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: calc(100% - 100px);
	box-shadow: 1px 0px 4px 0px #b7b7b7;
	min-height: 600px;
}

.emp_info_area {
	height: 130px;
	background-color: #f4f4f4;
	box-shadow: 1px 0px 4px 0px #b7b7b7;
	position: relative;
	padding: 0px 20px 20px;
}

.emp_info {
	padding: 5px 0px;
}

.emp_info_wrap {
	height: 100px;
}

.emp_image_area {
	display: inline-table;
	vertical-align: top;
	width: 80px;
	height: 100px;
}

.emp_image_wrap {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.emp_image_wrap img {
	width: 70px;
	margin: 0px 5px;
}

.emp_info_wrap {
	display: inline-block;
	vertical-align: top;
	width: 160px;
}

.emp_name_txt {
	height: 50px;
	font-size: 14pt;
	color: #4B94F2;
	font-weight: bold;
	text-indent: 8px;
	line-height: 70px;
}

.emp_opt_btn {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('../images/cmn/opt_image.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 5px;
	cursor: pointer;
}

.emp_dept_txt {
	height: 50px;
	font-size: 12pt;
	color: #3f3f3f;
	font-weight: bold;
	text-indent: 8px;
}

.emp_menu_area {
	text-align: center;
}

.emp_menu, .emp_menu_last {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	color: #7b7b7b;
	cursor: pointer;
}

.emp_menu {
	border-right: 1px solid #7b7b7b;
}

.emp_menu:hover, .emp_menu_last:hover {
	color: #2E83F2;
}

.left_menu_dpeth1_txt {
	height: 50px;
	line-height: 50px;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	background-color: #f2cb05;
	box-shadow: inset 0px 0px 6px 0px #b7b7b7;
}

.menu_depth2 {
	background-color: #FFFFFF;
}

.menu_depth2_on .menu_depth2_area, .menu_depth2_on .menu_depth2_single_area {
	background-color: #f2f2f2;
	font-weight: bold;
	color: #222222;
}

.menu_depth2 .menu_depth2_area, .menu_depth2 .menu_depth2_single_area {
	font-weight: bold;
	color: #7b7b7b;
}

.menu_depth2_on .menu_depth2_area {
	background-image: url('../images/cmn/down_icon.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: 25px;
}

.menu_depth2 .menu_depth2_area {
	background-image: url('../images/cmn/right_icon.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: 25px;
}

.menu_depth2 .menu_depth2_area:hover {
	background-color: #f2f2f2;
	font-weight: bold;
}

.menu_depth2_area, .menu_depth2_single_area {
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #d7d7d7;
	text-indent: 40px;
	font-size: 13pt;
	cursor: pointer;
	position: relative;
}

.menu_depth2_on .left_menu_bar, .menu_depth2:hover .left_menu_bar {
	display: inline-block;
	width: 8px;
	height: 60px;
	background-color: #2E83F2;
	position: absolute;
	top: 0px;
	left: 0px;
}

.menu_depth3_wrap {
	border-bottom: 2px solid #d7d7d7;
	padding: 10px 0px;
}

.menu_depth2 .menu_depth3_wrap {
	display: none;
}

.menu_depth3, .menu_depth3_on {
	height: 30px;
	line-height: 30px;
	text-indent: 60px;
	font-size: 12pt;
	color: #7b7b7b;
	list-style-position: inside;
	list-style-type: disc;
	display: list-item;
	cursor: pointer;
}

.menu_depth3_on, .menu_depth3:hover {
	color: #4B94F2;
	font-weight: bold;
}

/* Right 구역 */
.right_area {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 340px);
	min-width: 1060px;
	height: calc(100% - 140px);
	min-height: 560px; 
	padding: 20px;
	overflow-y: auto;
}

.navi_bar {
	height: 30px;
	line-height: 30px;
	color: #7b7b7b;
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 20px;
}

.navi_next {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 30px;
	margin: 0px 3px;
	background-image: url('../images/cmn/next_icon.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
}

.page_title_bar {
	height: 30px;
	margin-bottom: 15px;
}

.page_title_text {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: #2E83F2;
	font-size: 16pt;
	font-weight: bold;
	text-shadow: 0px 0 1px #7b7b7b;
}

.page_srch_area {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: calc(100% - 400px);
	height: 30px;
	line-height: 30px;
}

.srch_sel {
	min-width: 100px;
	height: 30px;
	margin-left: 10px;
}

.srch_text_wrap {
	display: inline-block;
	vertical-align: top;
	width: 198px;
	height: 28px;
	margin-left: 10px;
	text-align: left;
	border: 1px solid #d7d7d7;
	line-height: 28px;
	background-image: url('../images/cmn/srch_icon.png');
	background-repeat: no-repeat;
	background-size: 26px;
	background-position: right center;
}

.srch_text_wrap input {
	width: 161px;
	height: 28px;
	padding: 0px 2px;
	vertical-align: middle;
	border: none;
}

.srch_text_wrap input:focus {
	outline: 2px solid #F2CB05;
}

.board_table {
	display: inline-table;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 15px;
}

.board_table thead tr {
	border-top: 2px solid #222222;
	border-bottom: 1px solid #d7d7d7;
	height: 40px;
	font-size: 11pt;
}

.board_table tbody tr {
	border-bottom: 1px solid #d7d7d7;
	height: 40px;
	text-align: center;
	color: #7b7b7b;
	font-size: 10.5pt;
}

.board_table .board_cont_left {
	text-align: left;
}

.board_table .board_table_hover {
	color: #222222;
	font-weight: bold;
	cursor: pointer;
}

.board_table .board_table_hover:hover {
	color: #4B94F2;
	text-decoration: underline;
}

.board_bottom {
	height: 30px;
	position: relative;
	text-align: right;
}

.pgn_area {
	display: inline-block;
	min-width: 300px;
	text-align:center;
	height: 30px;
	position: absolute;
	left: calc(50% - 150px);
}

.page_btn, .page_btn_on {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 11pt;
	font-weight: bold;
	background-color: #f2f2f2;
	margin: 0px 2px;
	border-radius: 2px;
	cursor: pointer;
	color: #7b7b7b;
}

.page_btn:hover {
	background-color: #d7d7d7;
}

.page_btn_on {
	background-color: #F2B705;
	color: #222222;
}

.page_btn_on:active {
	background-color: #F2CB05;
}

.page_first, .page_prev, .page_next, .page_last {
	font-size: 0pt;
}

.page_first {
	background-image: url('../images/cmn/first_icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.page_prev {
	background-image: url('../images/cmn/prev_icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.page_next {
	background-image: url('../images/cmn/next_icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.page_last {
	background-image: url('../images/cmn/last_icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}